<div class="container">
    <mat-card>
        <mat-card-title>Entrar</mat-card-title>
        <form [formGroup]="userLoginForms">
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput placeholder="email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha:</mat-label>
                <input matInput placeholder="password" formControlName="password" required>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="authUser()">
            Entrar
        </button>
        <p>não tem uma conta? <a routerLink="/auth/register">cadastre-se</a></p>
    </mat-card>
</div>
